
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
    background: #fff;
    color: #444;
    font-family: "Open Sans", sans-serif;
  }
  
  a {
    color: #007bff;
    transition: 0.5s;
  }
  
  p {
    padding: 0;
    margin: 0 0 30px 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
  }


#header {
    border-top: 4px solid rgb(255, 143, 78);
    height: 80px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    padding: 20px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
  }
 
#header .logo img {
    padding: 0;
    margin: -11% 0;
    max-height: 80px;
}

.menu{
    padding: 0;
    margin: 7px 0;
}

.menu li{
    display: inline-block;
    margin-left: 15px;
}

.menu a{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #555;
    text-decoration: none;
}

.menu a:hover,
a:focus,
a:active{
    color: rgb(255, 143, 78);
}

.active{ /*JAVASCRIPT*/
    color: rgb(255, 143, 78)!important;
}

#intro .intro-conteudo {
    position: absolute;
    bottom: 0;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 10;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}

.intro-conteudo span{
    color: rgb(255, 143, 78);
}

#intro .intro-conteudo .btn-conheca,
#intro .intro-conteudo .btn-produtos {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 3px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  text-decoration: none;
}

#intro .intro-conteudo .btn-conheca {
  background: #555;
  border: 2px solid #555;
}

#intro .intro-conteudo .btn-conheca:hover {
  background: none;
  color: #555;
}

#intro .intro-conteudo .btn-produtos {
  background: rgb(255, 143, 78);;
  border: 2px solid rgb(255, 143, 78);
}

#intro .intro-conteudo .btn-produtos:hover {
  background: none;
  color: rgb(255, 143, 78);
}

#intro .intro-conteudo h2 {
    color: #555;
    margin-bottom: 30px;
    font-size: 64px;
    font-weight: 700;
}


.parallax {
    background-image: url(../img/1.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#intro {
    width: 100%;
    height: 60vh;
    position: relative;
}


#sobre .sobre-img img {
    margin-left: -15px;
    max-width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}

.flex-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
}

#sobre {
    padding: 60px 0 30px 0;
}

#sobre .conteudo h2 {
    color: rgb(255, 143, 78);
    font-weight: 700;
    font-size: 36px;
    font-family: "Montserrat", sans-serif;
}

#sobre .conteudo h3 {
    color: #555;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    font-style: italic;
}

.section-header {
    margin-bottom: 30px;
}

.section-header h2 {
    font-size: 32px;
    color: rgb(255, 143, 78);
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding-bottom: 20px;
}

.section-header h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #ff8f4e;
    bottom: 0;
    left: 0;
}

.section-header h3 {
    color: rgb(255, 143, 78);
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    padding-bottom: 20px;
}

.flex{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.img-fornecedoras{
  max-width: min-content;
  box-shadow: 0px 0px 15px rgba(127, 137, 161, 0.2);
  border-radius: 15px;
  padding: 20px;
}


.img-fornecedoras img {
  max-width:150px;
  max-height:75px;
  width: auto;
  height: auto;
  margin: 10px;
}

.container h4{
  width: 100%;
  margin: 30px 0;
}


/* HOVER MENU */
/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #ff8f4e;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}


.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

h5{
  margin: 20px 0 !important;
}

h4{
  font-weight: 500 !important;
}

.type-automatizador li{
  text-decoration: none;
  list-style: none;
}

.type-automatizador ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 0 30px 0;
  padding: 0;
}

.type-automatizador a:hover{
  text-decoration: none;
  color: #ff8f4e;
}

.type-automatizador a{
  font-size: 1.2rem;
  color: #555;
  font-weight: 600;
}

.checked{
  display: none;
}

.basculantes, .deslizantes, .portas, .cancelas{
  display: none;
}

.ativo{
  display: block;
}
/* IMG{
  max-width: -webkit-fill-available;
  position: absolute;
  top: 6%;
} */

































  /*TAGS RESPONMSIVIDADE*/
  @media (min-width: 992px) {
    #testimonials .testimonial-item p {
      width: 80%;
    }
  }
  
  @media (max-width: 991px) {
    #header {
      height: 60px;
      padding: 10px 0;
    }
  
    #header .logo h1 {
      font-size: 28px;
      padding: 8px 0;
    }
  
    #intro {
      padding: 140px 0 60px 0;
    }

    #intro .intro-conteudo{
        top: 60px;
      }
  
    #intro .intro-img {
      width: 80%;
      float: none;
      margin: 0 auto 25px auto;
    }
  
    #intro .intro-info {
      width: 80%;
      float: none;
      margin: auto;
      text-align: center;
    }
  
    #why-us .card {
      margin: 0;
    }
  }
  
  @media (max-width: 768px) {
    .back-to-top {
      bottom: 15px;
    }
  }
  
  @media (max-width: 767px) {
    #intro .intro-info {
      width: 100%;
    }
  
    #intro .intro-info h2 {
      font-size: 34px;
      margin-bottom: 30px;
    }
  
    .section-header p {
      width: 100%;
    }
  
    #testimonials .testimonial-item {
      text-align: center;
    }
  
    #testimonials .testimonial-item .testimonial-img {
      float: none;
      margin: auto;
    }
  
    #testimonials .testimonial-item h3,
    #testimonials .testimonial-item h4,
    #testimonials .testimonial-item p {
      margin-left: 0;
    }
  }
  
  @media (max-width: 574px) {
    #intro {
      padding: 100px 0 20px 0;
    }
  }

